.product_card{

    flex:1 0 auto;
}
.product_card img{
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.product_card_content{
display: flex;
}

.product_card_content h2,h3{
    font-size: 40px;
    padding-bottom: 100px;
    font-weight: 500;
}
.product_card_content p{
    font-size: 30px;
}

.product_card_contentexp{
    padding-top: 0;
    margin-top: 0;
    margin-left: 70px;
    flex-direction: column;

}

.product_card_btns_size button{
    margin-top: 10px;
    background-color: black;
    color: white;
    margin-right: 8px;
    font-size: 30px;
    width: 70px;
    height: 70px;
}
.product_card_btns_cart button{
    margin-top: 10px;
    background-color: black;
    color: white;
    margin-right: 8px;
    font-size: 38px;
    width: 320px;
    height: 70px;
    text-transform: uppercase;
}
.product_card_container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.footer{
    flex: 0 0 auto;
}