.alsolike{
    margin-top: 100px;
}

.alsolike_text{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}
.alsolike_items{
    display: flex;
    flex-wrap: wrap;
}