.card{
width: 340px;
height: 380px;
background-color: white;
border: 1px solid rgb(125, 125, 125);
margin-bottom: 20px;
}
.card img{
    width: 300px;
    height: 340px;
}
.card p{
    font-size: 20px;
}
.card-description{
    display: flex;
    justify-content: center;
}
.card:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 3px 3px 3px rgb(74, 73, 73);
}