
.header h2{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    align-items: center;
}
.header__image{
    position: relative;
}
.header__image img{
    width: 100%;
    height: 420px;
    opacity: 0.8;
}
.header__image button{
    position: absolute;
    width: 320px;
    height: 50px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dadada;
    color: rgb(37, 37, 37);
    font-size: 30px;
    text-transform: uppercase;
    padding: auto 24px;
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}


.header__image button:hover{
    background-color: #8b8b8b;
    transition-timing-function: ease-out;
    transition: 0.4s;
}