.specification__card{
    margin-top:85px;
}
.container{
    position: relative;
    padding:0;
    margin: 0;

}
.container img{
    width: 420px;
    height: 420px;
}
.container button{
    display: inline-block;
    position:absolute;
    width: 220px;
    height: 39px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #dadada;
    color: rgb(37, 37, 37);
    font-size: 30px;
    text-transform: uppercase;
    padding: auto 24px;
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}
.container button:hover{
    background-color: #8b8b8b;
    transition-timing-function: ease-out;
    transition: 0.4s;
}