.specification__card{
    margin-top:50px;
}
.container{
    display: flex;
    position: relative;
    padding:0;
    margin: 0;
    width: 420px;
    height: 420px;
    justify-content: space-between;
}
.container img{
    width: 440px;
    height: 440px;
}
.container button{
    display: inline-block;
    position:absolute;
    width: 260px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #bfbfbf;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-transform: uppercase;
    padding: auto 24px;
    border: none;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    opacity: 80%;
    border-radius: 10px;
}
.container button:hover{
    background-color: #000000;
    transition-timing-function: ease-out;
    transition: 0.4s;
}